body{
	padding: 0;	
	background: #fff !important;	
	color: #666;
}

.container{max-width: 1100px}

 .main {
      float: left;
      width: 100%;
      margin: 0 auto;
    }
    


/*--- ESTILOS GERAIS  -------------------------------------------------------------------*/
img.img-responsive{margin: auto;}

a{ color: #3a99d3; }
a:hover{color: #15488a;}

p{
	font-size: 14px;
	margin: 20px 0;
}

h3{
	text-align: center;
	font-size: 26px;
	letter-spacing: -1px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 40px;
	padding-bottom: 15px;
	background: transparent url("../img/bg_ttulo.png") bottom center no-repeat;	
}

h4{	
	font-size: 18px;
	letter-spacing: -1px;
	font-weight: bold;
	text-transform: uppercase;
}

/* formularios */
form label{
	width: 100%;
	padding: 10px 0;	
}
form input[type="text"],
form textarea,
form select,
form .form-email,
form input[type="password"]{
	width: 100%;
	padding: 7px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #d1d1d1;	
	margin-bottom: 5px;
}
form input[type="submit"]{	
	background: #dc6464;
	font-weight: bold;
	color: #fff;
	border: none;
	padding: 12px; 
	float: left;	
	width: 100%;	
	text-transform: uppercase;
}
form input[type="submit"]:hover{background: #c35151;}


a.botao{	
	background: #5c6881;
	font-weight: bold;
	color: #fff;
	border: none;
	padding: 12px; 
	float: left;	
	width: 100%;	
	text-transform: uppercase;
}
a.botao:hover{background: #22324d;}

/* animacoes */
.delay4{
	animation-delay: .4s;
	-moz-animation-delay: .4s;
	-webkit-animation-delay: .4s;
	-o-animation-delay: .4s;
	transition-delay: .4s;
	-webkit-transition-delay: .4s;
	-moz-transition-delay: .4s;
	-o-transition-delay: .4s;
}
.delay6{
	animation-delay: .6s;
	-moz-animation-delay: .6s;
	-webkit-animation-delay: .6s;
	-o-animation-delay: .6s;
	transition-delay: .6s;
	-webkit-transition-delay: .6s;
	-moz-transition-delay: .6s;
	-o-transition-delay: .6s;
}
.delay8{
	animation-delay: .8s;
	-moz-animation-delay: .8s;
	-webkit-animation-delay: .8s;
	-o-animation-delay: .8s;
	transition-delay: .8s;
	-webkit-transition-delay: .8s;
	-moz-transition-delay: .8s;
	-o-transition-delay: .8s;
}
.delay10{
	animation-delay: 1s;
	-moz-animation-delay: 1s;
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	transition-delay: 1s;
	-webkit-transition-delay: 1s;
	-moz-transition-delay: 1s;
	-o-transition-delay: 1s;
}
.delay12{
	animation-delay: 1.2s;
	-moz-animation-delay: 1.2s;
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	transition-delay: 1.2s;
	-webkit-transition-delay: 1.2s;
	-moz-transition-delay: 1.2s;
	-o-transition-delay: 1.2s;
}

section{min-height: 200px;}


/*--- MENU -------------------------------------------------------------------*/
#menu-principal{		
	text-align: center;	
	float: none;		
}
#menu-principal li{	
	display: inline-block;
	float: none;
}
#topnav{		
	background: #fff;
	text-align: center;
	border-bottom: none;
	z-index: 1;		
}
#topnav a{
	color: #666;
	font-weight: bold;
	text-transform: uppercase;	
}
#topnav li.active a,
#topnav a:hover{background: #f4f4f4;}


/*--- TOPO -----------------------------------------------------------------------*/
#topo{
	padding: 60px 0 90px 0;
	overflow: hidden;	
	background: transparent url("../img/bg_topo.jpg") top center fixed no-repeat;
}
#topo .logo{margin: 60px 0 85px 0;}


/*--- EVENTO -----------------------------------------------------------------------*/
#evento{	
	text-align: center;
	position: relative;
	padding: 60px 0;
	background: #fff url("../img/bg_branco.png") top center repeat-x;	
}


/*--- ATRACOES -----------------------------------------------------------------------*/
#atracoes{		
	position: relative;		
	text-align: center;	
	background: #fff url("../img/bg_generico3.jpg") bottom center fixed no-repeat;	
	min-height: 850px;
	padding-top: 50px;
}

#atracoes h3{
	max-width: 450px;
	display: inline-block;
	margin: auto;	
	font-size: 21px;
	margin: 50px 0;
	letter-spacing: -1px;
	color: #fff;
}

#atracoes h3 strong{
	font-size: 36px;
	font-weight: bold;	
	text-transform: uppercase;
}

#atracoes .papagaio,
#atracoes .breno{
	background: #f4f4f4;
	padding: 20px;
	border: 5px solid #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#atracoes .breno{float: right;}

#atracoes .foto-perfil{
	text-align: center;	
	margin: auto;
	max-width: 200px;
	margin-top: -100px;
}

#atracoes p{text-align: justify;}


/*--- CONTATO / RESERVAS -----------------------------------------------------------------------*/
#contato{		
	position: relative;			
	padding: 80px;
	background: transparent url("../img/bg_generico2.jpg") bottom center fixed no-repeat;
}

#contato #contact-wrapper{			
	width: 700px;
	height: 425px;	
	margin: auto;
	padding: 25px 15px;
	background: #f4f4f4;	
	border: 5px solid #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}


/*--- FOTOS -----------------------------------------------------------------------*/
#fotos{		
	padding: 40px 0;	
	background: #fff;
}
#fotos img{
	margin-bottom: 30px; 
	border: 5px solid #f4f4f4;
}
#fotos img:hover{border: 5px solid #5c6881;}


/*--- CONTAGEM -----------------------------------------------------------------------*/
#contagem{		
	padding: 40px 0;	
	background: #fff;
}

/*--- COMO CHEGAR -----------------------------------------------------------------------*/
#comochegar{		
	padding-top: 30px;
	background: #f4f4f4
}



/*--- RODAPE -------------------------------------------------------------------*/



